<!-- Get Active Leases -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                GET: Active Leases
            </h2>
        </div>
        <div class="body">
            <label>Call</label>
            <div class="form-group">
                <div class="form-line">
                    <input disabled type="input" class="form-control" value="/api/get_active_leases" autocomplete="off">
                </div>
            </div>
            <label>URL Example</label>
            <div class="form-group">
                <div class="form-line">
                    <input disabled type="input" class="form-control api_url" value="/api/get_active_leases" autocomplete="off">
                </div>
            </div>
            <label>Test</label>
            <div class="form-group">
                <div>
                    <button type="button" onclick="api_example('get_active_leases')" class="btn btn-default waves-effect">Try It!</button>
                    <button type="button" onclick="raw_api('/api/get_active_leases')" class="btn btn-default waves-effect">Raw</button>
                    <button type="button" onclick="clear_api('get_active_leases')" class="btn btn-default waves-effect">Clear</button>
                    <div id="get_active_leases" style="margin-top:20px"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Get Subnet Details -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                GET: Subnet Details
            </h2>
        </div>
        <div class="body">
            <label>Call</label>
            <div class="form-group">
                <div class="form-line">
                    <input disabled type="input" class="form-control" value="/api/get_subnet_details" autocomplete="off">
                </div>
            </div>
            <label>URL Example</label>
            <div class="form-group">
                <div class="form-line">
                    <input disabled type="input" class="form-control api_url" value="/api/get_subnet_details" autocomplete="off">
                </div>
            </div>
            <label>Test</label>
            <div class="form-group">
                <div>
                    <button type="button" onclick="api_example('get_subnet_details')" class="btn btn-default waves-effect">Try It!</button>
                    <button type="button" onclick="raw_api('/api/get_subnet_details')" class="btn btn-default waves-effect">Raw</button>
                    <button type="button" onclick="clear_api('get_subnet_details')" class="btn btn-default waves-effect">Clear</button>
                    <div id="get_subnet_details" style="margin-top:20px"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $( ".api_url" ).each(function( index ) {
        $(this).val(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + $(this).val());
    });
    $('.form-line').removeClass("focused");
</script>