<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-pink">
                <i class="material-icons">new_releases</i>
            </div>
            <div class="content">
                <div class="text">Leases Per Second</div>
                <div class="number" id="leases-sec">[current_leases_per_second]</div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-blue">
                <i class="material-icons">insert_chart</i>
            </div>
            <div class="content">
                <div class="text">Total Leases</div>
                <div class="number" id="total-leases">[total_leases]</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-blue">
                <i class="material-icons">devices</i>
            </div>
            <div class="content">
                <div class="text">CPU</div>
                <div class="number" id="cpu-utilization">[cpu_utilization]</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-cyan">
                <i class="material-icons">gps_fixed</i>
            </div>
            <div class="content">
                <div class="text">SERVER</div>
                <div class="number" id="server-name">[hostname]</div>
            </div>
        </div>
    </div>
</div>