<div class="card">
    <div class="header">
        <h2>Active Leases</h2>
    </div>
    <div class="body">

        <div id="glass-alerts-form"><label>Search Active Leases</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="input" class="form-control" id="lease_search_criteria" placeholder="Enter Search Criteria...">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div id="search_result"></div>

        </div>
    </div>
</div>

<script type="text/javascript">
    /*
	$('#display-leases').DataTable({
		dom: 'tip',
		responsive: true,
		"pageLength": 100,
		"aaSorting": []
	});
	*/
</script>