
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
        <div class="header">
            <h2>Subnets</h2>
        </div>
        <div class="body">
            <div class="table-responsive">

                <table id="display-subnets" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                    <thead>
                    <tr>
                        <th>Subnet Location</th>
                        <th>IP Range</th>
                        <th>Used</th>
                        <th class="hide_col">Size</th>
                        <th class="hide_col">Free</th>
                        <th>Utilization</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
