
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
        <div class="header">
            <h2>Shared Networks</h2>
        </div>
        <div class="body">
            <div class="table-responsive">

                <table id="shared-networks" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                    <thead>
                    <tr>
                        <th>Location</th>
                        <th>Used</th>
                        <th>Size</th>
                        <th>Free</th>
                        <th>Utilization</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
